@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



body {
  margin: 0;
  background: linear-gradient(to top, #000066 0%, #3399ff 99%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  flex-direction: column;
}

.home{
  /* background-color: black; */
  width: 100%;
  height: 100vh;
}


.signup{

}

.login{

}


.location{

}

.location-timezone{

}

.weather-icon{

}

.temperature{

}

.temperature-degree{

}

.temperature-details{

}

.temperature-weekly{

}

.saved-cities{

}


#head-container{
  position: relative;
  overflow: auto;
  bottom: 17vh;
  width: 100vw;
}

#featured-container{
position: relative;
bottom: 20%;
}

#saved-cities-container{
  border: solid 3px white;
  position: relative;
}

#weather-details-container{
  position: relative;
  overflow: auto;
  width: 70vw;
}