*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



body {
  margin: 0;
  background: linear-gradient(to top, #000066 0%, #3399ff 99%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  flex-direction: column;
}

.home{
  /* background-color: black; */
  width: 100%;
  height: 100vh;
}


.signup{

}

.login{

}

#feature-card{
border: 0.1rem  white;
border-style:solid dashed ;
position: relative;
left: 27%;
width: 55vw;
height: 60vh;
opacity: 0.2;
background: linear-gradient(to top, #000066 0%, #3399ff 99%);
}

.location{

}

.location-timezone{

}

.weather-icon{

}

.temperature{

}

.temperature-degree{

}

.temperature-details{

}

.temperature-weekly{

}

.saved-cities{

}


.featured-weather{
  background-color: cornflowerblue;
  width: 29%;
  height: 70vh;
}


.saved-weather{
  flex-direction: row;
}

.head{
  display: inline-flex;
  width: 80%;
  height: 10vh;
  margin: 20px;
  /* overflow: auto; */
  align-items: center;
}


#user-button{
  position: relative;
  margin: 8vw;
  bottom: 1.5vh;
  background-color: black;
  color: green;
  box-shadow: 4px 4px rgb(32, 32, 32);
  height: 5vh;
  width: 7vw;
  font-size: .75rem;
  text-align: left;
  font-weight: bolder;
}



@media screen and (max-width: 600px) {
  #user-button{
   height: 6vh;
  }

  #search-bar{
    height: 5vh;
    margin: 5vw;
  }
}

.search-bar{

}

#search-bar{
  max-width: 50vw;
  width: 60vw;
  margin: auto;
  padding: 10px ;
}

#words{
  font-size: 150px;
  color: white;
}